.App {
  text-align: center;
}

.ul-nb {
  list-style: none;
  margin:2px;
  padding:3px;
  float: right;
  margin-top: 50px;
}

.ul-nb li {
  float:left;
  padding:10px;
  text-align: center;
  margin-left:5px;
  border-radius: 5px;
  color: #00004d;
}

.ul-nb li:hover {
  background:#00004d;
  opacity:0.9;
  color: white;
}

.link{
  text-decoration: none;
}

.link:hover{
  color:white;
}


.header{
  background-color: #b3e5fc;
  padding: 10px;
}

.container{
  background-color:#e8f5e9;
  min-height: 600px;
}

